# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Virtual Environment
venv/
.env

# ==============================
# Uploads & Datasets
# ==============================
uploads/
datasets/
checkpoints/

# ==============================
# Model Cache
# ==============================
.cache/
huggingface/

# ==============================
# Logs
# ==============================
*.log

# ==============================
# Node
# ==============================
node_modules/
dist/
.vite/

# ==============================
# VS Code
# ==============================
.vscode/

# ==============================
# OS
# ==============================
.DS_Store
Thumbs.db